# Cleaning of the variable "number of cases"

In [163]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import io
import statsmodels.api as sm
from scipy import stats
import geopandas as gpd

In [164]:
file_path = 'C:/Users/Gaëlle/Documents/_CAS applied data science/3. Module 3 Data analysis and machine learning/Project/merged_with_hospital_data.csv'
df = pd.read_csv(file_path)
#column_names=df.columns.tolist()    
#column_names

C:\Users\Gaëlle\AppData\Local\Temp\ipykernel_8108\1160773324.py:2: DtypeWarning: Columns (0,1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

## Explore the dataset

In [165]:
df.head()

,hospital_name,indicator,observed_rate,expected_rate,SMR,number_of_cases,year,KT,Status,Adr,...,ErlOKPAmbB,ErlStatB,ErlKVGStatB,ErlKVGStatVB,ErlZvOKPStatB,ErlZvOKPStatVB,ErlLangB,PTageLang,AustLang,KostLangT
0,HUG,A Maladies cardiaques,,,,,2008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HUG,A.1 Infarctus du myocarde,,,,,2008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HUG,A.1.1.M,0.072,0.07,1,526,2008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HUG,A.1.2.M,0.024,0.012,2.1,41,2008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HUG,A.1.3.M,0.045,0.024,1.9,199,2008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [166]:
print('the shape of the dataset:', df.shape)

the shape of the dataset: (943322, 221)

In [167]:
na_per_variable = df.isna().sum()
print(na_per_variable)

hospital_name     139896
indicator           2833
observed_rate     606795
expected_rate     618075
SMR               673430
                   ...
ErlZvOKPStatVB    933999
ErlLangB          876993
PTageLang         904969
AustLang          904969
KostLangT         904969
Length: 221, dtype: int64

In [168]:
info=df.describe()
info

,year,AnzStand,AmbKonsT,Ptage,PtageStatT,PtageStatMST,Aust,AustStatT,AustStatMST,Neug,...,ErlOKPAmbB,ErlStatB,ErlKVGStatB,ErlKVGStatVB,ErlZvOKPStatB,ErlZvOKPStatVB,ErlLangB,PTageLang,AustLang,KostLangT
count,943322.000000,389246.000000,1.969110e+05,56952.000000,117374.000000,269827.000000,56952.000000,117374.000000,269827.000000,56952.000000,...,77543.000000,6.632900e+04,7.754300e+04,22942.000000,7.754300e+04,9323.000000,66329.0,38353.000000,38353.000000,3.835300e+04
mean,2016.246553,1.765917,1.632904e+05,52592.297637,51213.724309,66300.119454,6843.364553,7588.188653,11300.949886,466.326117,...,37964.372619,1.288023e+05,2.478921e+05,51.242295,7.455837e+03,56.343030,0.0,11904.291138,65.731338,4.216188e+06
std,3.946779,1.494581,2.002645e+05,66882.885166,69593.378383,76322.768768,7968.104833,9484.053293,12299.558897,546.764913,...,83002.711848,3.558834e+05,5.540320e+05,12.748775,4.245989e+04,18.131776,0.0,28671.663452,146.539780,9.751920e+06
min,2008.000000,1.000000,0.000000e+00,8.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,41.106841,0.0,0.000000,0.000000,0.000000e+00
25%,2013.000000,1.000000,1.633400e+04,13959.000000,6320.000000,8405.000000,1757.000000,1078.000000,1714.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,45.000037,0.000000e+00,45.000327,0.0,0.000000,0.000000,0.000000e+00
50%,2017.000000,1.000000,7.374900e+04,26569.000000,21735.000000,30964.000000,4112.000000,3702.000000,6561.000000,357.000000,...,0.000000,0.000000e+00,0.000000e+00,48.015757,0.000000e+00,49.000000,0.0,0.000000,0.000000,0.000000e+00
75%,2020.000000,2.000000,2.038090e+05,59096.000000,61060.000000,92384.000000,8089.000000,9149.000000,16882.000000,666.000000,...,7700.000000,0.000000e+00,1.858310e+05,51.000000,0.000000e+00,58.754143,0.0,21.000000,5.000000,1.444700e+04
max,2021.000000,24.000000,1.425145e+06,355395.000000,665463.000000,710524.000000,43668.000000,57066.000000,58939.000000,3245.000000,...,597921.000000,2.508078e+06,3.339478e+06,100.000000,1.173831e+06,100.000000,0.0,90108.000000,2853.000000,5.259843e+07

In [169]:
test=df[df['hospital_name'].isna()]
print(test)

       hospital_name                  indicator observed_rate expected_rate  \
165649           NaN                        NaN           NaN           NaN
800628           NaN      A Maladies cardiaques
800629           NaN  A.1 Infarctus du myocarde
800630           NaN                    A.1.1.M         0.061         0.046
800631           NaN                    A.1.2.M             0         0.009
...              ...                        ...           ...           ...
940518           NaN                   Z.4.41.F           NaN           NaN
940519           NaN                   Z.4.42.F           NaN           NaN
940520           NaN                   Z.4.43.F           NaN           NaN
940521           NaN                   Z.4.44.F           NaN           NaN
940522           NaN                   Z.4.45.F           NaN           NaN

        SMR number_of_cases  year   KT Status  Adr  ... ErlOKPAmbB ErlStatB  \
165649  NaN             NaN  2012  NaN    NaN  NaN  ...        NaN      NaN
800628                       2021  NaN    NaN  NaN  ...        NaN      NaN
800629                       2021  NaN    NaN  NaN  ...        NaN      NaN
800630  1.3             510  2021  NaN    NaN  NaN  ...        NaN      NaN
800631    0              22  2021  NaN    NaN  NaN  ...        NaN      NaN
...     ...             ...   ...  ...    ...  ...  ...        ...      ...
940518  NaN               0  2021  NaN    NaN  NaN  ...        NaN      NaN
940519  NaN               0  2021  NaN    NaN  NaN  ...        NaN      NaN
940520  NaN               0  2021  NaN    NaN  NaN  ...        NaN      NaN
940521  NaN               0  2021  NaN    NaN  NaN  ...        NaN      NaN
940522  NaN               0  2021  NaN    NaN  NaN  ...        NaN      NaN

       ErlKVGStatB ErlKVGStatVB ErlZvOKPStatB ErlZvOKPStatVB ErlLangB  \
165649         NaN          NaN           NaN            NaN      NaN
800628         NaN          NaN           NaN            NaN      NaN
800629         NaN          NaN           NaN            NaN      NaN
800630         NaN          NaN           NaN            NaN      NaN
800631         NaN          NaN           NaN            NaN      NaN
...            ...          ...           ...            ...      ...
940518         NaN          NaN           NaN            NaN      NaN
940519         NaN          NaN           NaN            NaN      NaN
940520         NaN          NaN           NaN            NaN      NaN
940521         NaN          NaN           NaN            NaN      NaN
940522         NaN          NaN           NaN            NaN      NaN

       PTageLang AustLang KostLangT
165649       NaN      NaN       NaN
800628       NaN      NaN       NaN
800629       NaN      NaN       NaN
800630       NaN      NaN       NaN
800631       NaN      NaN       NaN
...          ...      ...       ...
940518       NaN      NaN       NaN
940519       NaN      NaN       NaN
940520       NaN      NaN       NaN
940521       NaN      NaN       NaN
940522       NaN      NaN       NaN

[139896 rows x 221 columns]

## Clean the variable "number_of_cases

### 1. Structure of the variable

In [170]:
valeur_nb_cases=(df['number_of_cases'].unique())
valeur_nb_cases = valeur_nb_cases.astype(str) # transform in string
valeur_nb_cases.dtype # important to know the type to save it correctly in csv

dtype('<U19')

In [171]:
file_name = "value.csv"

# Use numpy's savetxt function to save the table as a CSV file
np.savetxt(file_name, valeur_nb_cases, fmt='%s', delimiter=',')
## I am saving the file so I can see all the different values

### 2. Let's get rid of the thousands separator

In [172]:
#Creation of a new variable called "number_of_cases_2" which is the cleaned variable
df['number_of_cases_2'] = df['number_of_cases'].apply(lambda x: int(x.replace("'", "")) if isinstance(x, str) and x.replace("'", "").isdigit() else x)

### 3. Identify cells which don't start with a number (ex: Fallzahl 2008)

In [173]:
import re
non_digit_start = df[df['number_of_cases_2'].apply(lambda x: not re.match(r'^\d', str(x)))]
value_nb_cases_bizarre=(non_digit_start['number_of_cases_2'].unique())

In [174]:
# To have an idea of the value to transform
value_nb_cases_bizarre

array([' ', '<10', '...', 'Fallzahl 2008', 'nombre de cas 2008',
       'numero di casi 2008', 'Fallzahl 2009', 'nombre de cas 2009',
       'numero di casi 2009', 'nombre de cas 2010', 'Fallzahl 2010',
       'numero di casi 2010', 'nombre de cas 2011', 'Fallzahl 2011',
       'numero di casi 2011', 'nombre de cas 2012', 'Fallzahl 2012',
       'numero di casi 2012', nan, '-', 'nombre de cas 2013',
       'Fallzahl 2013', 'numero di casi 2013', 'nombre de cas 2014',
       'Fallzahl 2014', 'numero di casi 2014', 'nombre de cas 2015',
       'Fallzahl 2015', 'numero di casi 2015', 'nombre de cas 2016',
       'Fallzahl 2016', 'numero di casi 2016', 'nombre de cas 2017',
       'Fallzahl 2017', 'numero di casi 2017', 'Fallzahl 2018',
       'nombre de cas 2018', 'numero di casi 2018', 'nombre de cas 2019',
       'Fallzahl 2019', 'numero di casi 2019', 'nombre de cas 2020',
       'Fallzahl 2020', 'numero di casi 2020', 'nombre de cas 2021',
       'Fallzahl 2021', 'numero di casi 2021'], dtype=object)

In [175]:
## Information about the format of the data in the variable: 
# From https://spitalstatistik.bagapps.ch/data/download/qip21_publikation.pdf?v=1680713881, page 4

# Verwendete Zeichen, wenn keine Zahlenangabe erfolgt
# ... Zahl unbekannt, weil (noch) nicht erhoben oder (noch) nicht berechnet
# * entfällt, weil trivial oder Begriffe nicht anwendbar
# – wird bei gerundeten Zahlen verwendet und steht hier für den Wert absolut null

# Signes utilisés en l’absence de chiffres
# ... chiffre inconnu (pas [encore] relevé ou pas [encore] calculé)
# * non indiqué car évident ou non pertinent
# – utilisé pour les chiffres arrondis ; signifie zéro

In [176]:
# For "<10", I am replacing them by 9
df['number_of_cases_2']  = ['9' if x == '<10' else x for x in df['number_of_cases_2'] ]
# For "...", I am replacing them by nan
df['number_of_cases_2']  = ['nan' if x == '...' else x for x in df['number_of_cases_2'] ]
# For "-", I am replacing them by nan
df['number_of_cases_2']  = ['nan' if x == '-' else x for x in df['number_of_cases_2'] ]

In [177]:
# We see that many of them are actually name of the column (Fallzahl 2010,nombre de cas 2017, etc). I am deleting them
# And creation of a new dataset 

## Create a Boolean mask to filter the rows to keep
masque = ~(df['number_of_cases_2'].str.startswith('nomb') | df['number_of_cases_2'].str.startswith('nume') | df['number_of_cases_2'].str.startswith('Fall'))

## Apply the mask to delete the corresponding lines and create a new dataset
df_2 = df[masque]

In [178]:
non_digit_start = df_2[df_2['number_of_cases_2'].apply(lambda x: not re.match(r'^\d', str(x)))]
valeur_nb_cases_bizarre=(non_digit_start['number_of_cases_2'].unique())
valeur_nb_cases_bizarre

array([' ', 'nan', nan], dtype=object)

In [179]:
# We see that we now have number, empty cells and nan

### 4. Delete nan and empty cells in 'number_of_cases_2' variable

In [180]:
masque = ~(df_2['number_of_cases_2'].str.startswith(' ') | df_2['number_of_cases_2'].str.startswith('nan'))
df_3 = df_2[masque]

In [181]:
df_3 = df_3.dropna(subset=['number_of_cases_2'])

In [182]:
non_digit_start = df_3[df_3['number_of_cases_2'].apply(lambda x: not re.match(r'^\d', str(x)))]
valeur_nb_cases_bizarre=(non_digit_start['number_of_cases_2'].unique())
valeur_nb_cases_bizarre

array([], dtype=object)

In [183]:
df_3['number_of_cases_2'] = df_3['number_of_cases_2'].astype(float)

### 5. Delete the zero in the 'number_of_cases_2' variable

In [184]:
df_4 = df_3[df_3['number_of_cases_2']!= 0.0]

In [185]:
count_per_value = df_4['number_of_cases_2'] .value_counts()
count_per_value # no more zero

number_of_cases_2
9.0        30502
1.0        26696
2.0        15930
3.0        11534
4.0         9290
           ...
7868.0         1
26870.0        1
4499.0         1
2409.0         1
5309.0         1
Name: count, Length: 3995, dtype: int64

In [186]:
print('the shape of the dataset:', df.shape)
print('the shape of the dataset after the cleaning:', df_4.shape)

the shape of the dataset: (943322, 222)
the shape of the dataset after the cleaning: (302805, 222)

### Save the new dataset

In [187]:
df_4.to_csv('dataset_clean.csv', index=False)  # Use index=False to omit writing row numbers as index